html, body
  height: 100%
  width: 100%
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  background-color: #F5F5F5
  @media(min-width: 901px)
    overflow: hidden

h1
  text-align: center
  text-transform: uppercase
  margin-top: 10%

p#copyright
  text-align:center

.Canvas404
    width: 100%
    overflow-x: hidden

.Row404
    text-align: center
    margin-left: -200%
    margin-right: -200%

input[type='checkbox']
    margin: 2px 2px 2px 2px
    height: 14px
    width: 14px