@import 'nib'

$main-color = #BE3455

makeColor(alpha)
  rgba(red($main-color), green($main-color), blue($main-color), alpha)

$secondary-color = makeColor(0.8)

global-reset()

html, body
  height: 100%
  width: 100%
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  @media(min-width: 901px)
    overflow: hidden

*::selection
  transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1)
  background-color: #333
  color: $main-color

a:link,
a:active,
a:visited,
a:hover
  text-decoration: none
  color: inherit

.color
  transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1), fill 0.4s cubic-bezier(0.4, 0, 0.2, 1)
  color: $main-color
  fill: currentColor
  will-change: color, fill

  &::before,
  &::after
    background-color: currentColor
    transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1)
    will-change: background-color

.colorLight
  transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1), fill 0.4s cubic-bezier(0.4, 0, 0.2, 1)
  color: $secondary-color
  fill: currentColor
  will-change: color, fill

  &::before,
  &::after
    background-color: currentColor
    transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1)
    will-change: background-color

.colorBg
  transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1)
  background-color: $main-color
  will-change: background-color

.colorHover
  transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1)
  will-change: background-color

  &:hover
    color: $main-color
    background-color: white
    will-change: background-color

.colorScroll
  &::-webkit-scrollbar
    transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1)
    will-change: background-color
    width: 8px
    background-color: $secondary-color

  &::-webkit-scrollbar-thumb
    background-color: #FFFFFF80

.svg-pattern rect
  font-size: 6px
  transition:  all 0.4s cubic-bezier(0.4, 0, 0.2, 1)
  will-change: transform
