@import 'nib'

$main-color = #FFB400

makeColor(alpha)
  rgba(red($main-color), green($main-color), blue($main-color), alpha)

$secondary-color = makeColor(0.8)

global-reset()

html, body
  height: 100%
  width: 100%
  min-width: 1280px
  font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;

*::selection
  transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1)
  background-color: #333
  color: $main-color

a:link,
a:active,
a:visited,
a:hover
  text-decoration: none
  color: inherit

.color
  transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1)
  color: $main-color
  fill: currentColor

  &::before,
  &::after
    background-color: currentColor
    transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1)

.colorLight
  transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1)
  color: $secondary-color
  fill: currentColor

  &::before,
  &::after
    background-color: currentColor
    transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1)

.colorBg
  transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1)
  background-color: $main-color

.colorHover
  transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1)

  &:hover
    color: $main-color
    background-color: white

.colorScroll
  &::-webkit-scrollbar
    transition: background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1)
    width: 8px
    background-color: $secondary-color

  &::-webkit-scrollbar-thumb
    background-color: #FFFFFF80
