main
  height: 100%
  width: 69.44%
  float: left
  overflow-y: scroll
  overflow-x: hidden
  &::after
    clear: both

#mainContainer
  width: 860px
  margin-top: 72px
  margin-left: 20px

header
  margin-bottom: 96px
  position: relative

.projectTitle
  font-size: 32px
  line-height: 40px
  font-weight: lighter
  text-transform: uppercase

  &::after
    content: ' '
    position: absolute
    height: 34px
    width: 2px
    margin-left: 16px
    margin-right: 16px

.projectDesc
  margin-left: 34px
  font-size: 16px
  line-height: 20px
  letter-spacing: 0.5px

.showcase
  position: relative
  height: 469px

.projectYear
  position: absolute
  top: 2px
  font-size: 24px
  font-weight: bold
  opacity: 0.5

.imageFrame
  float: right
  margin-bottom: 196px

.imageWrapper
  position: absolute
  margin-top: 33px
  width: 720px
  height: 400px
  overflow: hidden
  background-color: #333

.imageWrapper > img
  width: 720px
  position: relative
  transition: transform .4s cubic-bezier(0.4, 0, 0.2, 1), opacity .4s cubic-bezier(0.4, 0, 0.2, 1)

  &:hover
    transform: scale(1.05)
    opacity: .6
