main
  height: 100%
  width: calc(100% - 400px)
  position: absolute
  right: 0
  overflow-y: scroll
  overflow-x: hidden
  font-size: 14px
  @media(max-width: 900px)
    position: initial
    overflow: initial
    height: initial
    width: 100%

#mainContainer
  width: 80%
  max-width: 860px
  margin-top: 72px
  margin-left: auto
  margin-right: auto
  @media(max-width: 900px)
    width: 90%

.project
  overflow: hidden
  margin-bottom: 15%

header
  margin-bottom: 6%
  overflow: hidden

.projectTitle
  font-size: 32px
  line-height: 40px
  font-weight: lighter
  white-space: nowrap
  text-transform: uppercase

  &::after
    content: ' '
    position: absolute
    height: 34px
    width: 2px
    margin-left: 16px
    margin-right: 16px

  @media(max-width: 900px)
    font-size: 18px
    line-height: 24px
    &::after
      height: 22px
      width: 2px
      margin-left: 8px
      margin-right: 8px

.projectDesc
  margin-left: 34px
  font-size: 16px
  line-height: 24px
  letter-spacing: 0.5px
  @media(max-width: 900px)
    margin-left: 20px
    font-size: 12px
    line-height: 18px

.showcase
  position: relative
  display: flex
  justify-content: space-between
  width: 100%

.projectYear
  top: 2px
  font-size: 24px
  font-weight: bold
  opacity: 0.5
  @media(max-width: 900px)
    display: none

.imageFrame
  max-width: 720px
  width: calc(100% - 64px)
  @media(max-width: 900px)
    width: 100%

  svg, a
    width: 100%
    display: block

.imageWrapper
  position: absolute
  top: 7.068%
  overflow: hidden
  background-color: #333

.imageWrapper > img
  display: block
  width: 100%
  position: relative
  transition: transform .4s cubic-bezier(0.4, 0, 0.2, 1), opacity .4s cubic-bezier(0.4, 0, 0.2, 1)


  &:hover
    transform: scale(1.05)
    opacity: .6
