nav
  position: absolute
  left: 0
  height: 100%
  width: 400px

  @media(max-width: 900px)
    width: 100%
    position: relative

#corner
  position: absolute
  cursor: pointer
  width: 40px
  height: 40px
  overflow: hidden
  top: 0
  left: 0
  background-image: inline-url('assets/images/corner_bg.png')


#navContainer
  position: absolute
  height: calc(100% - 40px)
  margin-top: 40px
  margin-left: 60px
  margin-right: 100px


  & > section:not(:first-child)
    margin-top: 32px

  & > section:not(:last-child)
    margin-bottom: 32px

  @media(max-width: 900px)
    width: 100%
    margin-left: 0
    margin-right: 0
    & > section
      text-align: center
    & > section:not(:first-child)
      margin-top: 16px

    & > section:not(:last-child)
      margin-bottom: 16px

section#logo
  line-height: 0
  font-size: 0

  & > svg
    padding-right: 6px
    cursor: pointer

    &:hover .svg-pattern rect
      font-size: 2px

#    &:first-child
#      mask: url(#mask-stripe-logo)

#    &:last-child
#      mask: url(#mask-stripe-blank)

section#title
  color: white
  font-family: 'Inconsolata'
  h1
    font-size: 28px
    letter-spacing: 1px
    line-height: 33px
    fong-weight: bold
    white-space: nowrap
  h2
    font-size: 16px
    line-height: 24px
    letter-spacing: 1px
    font-weight: lighter

section#social
  white-space: nowrap

section#social > a
  font-size: 18px
  line-height: 24px
  text-align: center
  transition: color 0.4s cubic-bezier(0.4, 0, 0.2, 1), background-color 0.4s cubic-bezier(0.4, 0, 0.2, 1)

  & > i
    width: 24px
    height: 24px

  &:not(:first-child)
    margin-left: 5px

  &:hover
    background-color: white !important

  &:link,
  &:visited
    color: white

  &.facebook
    background-color: #3C5A98
    &:hover
      color: @background-color

  &.github
    background-color: #333
    &:hover
      color: @background-color

  &.linkedin
    background-color: #007AB5
    &:hover
      color: @background-color

  &.pinterest
    background-color: #CB1F27
    &:hover
      color: @background-color

  &.instagram
    background-color: #2E5E86
    &:hover
      color: @background-color

  &.stackoverflow
    background-color: #F48024
    &:hover
      color: @background-color

  &.email
    background-color: #007AB5
    &:hover
      color: @background-color

section#description > p
  line-height: 16px
  font-size: 14px

  &:not(:last-child)
    margin-bottom: 8px

  @media(max-width: 900px)
    font-weight: lighter
    letter-spacing: 1px
    line-height: 12px
    font-size: 12px

    &:not(:last-child)
      margin-bottom: 10px

    &:first-child
      margin-top: 32px


footer
  position: absolute
  bottom: 32px
  color: white

  & > p
    font-size: 16px
    margin-top: 20px

  @media(max-width: 900px)
    width: 100%
    margin-left: auto
    margin-right: auto
    text-align: center

#resume
  display: block
  height: 42px
  width: 120px
  border: 3px solid white
  line-height: 42px
  font-size: 24px
  font-weight: bold
  text-align: center

  @media(max-width: 900px)
    margin-left: auto
    margin-right: auto
    font-size: 18px
    line-height: 28px
    font-weight: normal
    height: 28px
    width: 90px
    border: 2px solid white

#asideBG
  position: absolute
  width: 100%
  height: 100%
  top: 0
  left: 0
